body {
margin:0;
background-size: 1800px 900px;
background-repeat:no repeat;
background-image: url("images/background.jpg");

}

.head {
	color: yellow;
}

.Name {
	color: yellow;
}
.Mass { 
	color: yellow;
}

.Diameter {
	color: yellow;
}
.Mean {
	color: yellow;
}

.Escape {
	color: yellow;
}

.Average {
	color: yellow;
}
.Rotation {
	color: yellow;
}
.Revolution {
	color: yellow;
}

h1 {
	text-align: center;
	font-family: 'Copperplate Gothic';
	background-color: yellow;
	margin:auto;
}

img {
	width: 200px;
	height: 200px;
	padding:50px;
	border:50px
} 
table {
border-collapse: collapse;
width: 100%;
}

th, td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
color: #27408b;
text-align: center;
}

