body {
margin:0;
background-size: 1800px 900px;
background-repeat:no repeat;
background-image: url("images/background.jpg");
}

.Planet {
	text-align:right;
}
.head {
	color: yellow;
}

.Name {
	color: yellow;
}
.Mass { 
	color: yellow;
}

.Diameter {
	color: yellow;
}
.Mean {
	color: yellow;
}

.Escape {
	color: yellow;
}

.Average {
	color: yellow;
}
.Rotation {
	color: yellow;
}
.Revolution {
	color: yellow;
}

h1 {
	text-align: center;
	font-family: 'Copperplate Gothic';
	background-color: yellow;
	margin:auto;
}

img {
	width: 125px;
	height: 125px;
	padding:2px;
	border:50px
} 
table {
	margin-left:auto;
	margin-right:auto;
}

